.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
public/build
tests
*.md
docker-compose*.yml
.dockerignore
data/
